/* Estilo base (desktop) */
.body {
  background-color: rgb(247, 249, 252);
  font-family: 'Courier New', Courier, monospace;
  text-align: center;
  margin: 0;
  padding-top: 100px;
  
}

.nav {
  background-color: #333;
  padding: 20px 25px;
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  display: flex;
  align-items: center;
  gap: 20px;
}

.nav-logo {
  width: 140px;
  height: 40px;
  object-fit: contain;
}

.nav-title {
  font-size: 20px;
  font-weight: bold;
  color: rgb(238, 255, 0);
}

.box {
  background: rgba(0,0,0,0.6);
  padding: 50px;
  border-radius: 15px;
  color: white;
  width: 800px;
  margin: 120px auto 0 auto;
}

.input {
  padding: 20px;
  border-radius: 10px;
  font-size: 20px;
  width: 90%;
  margin-bottom: 20px;
  border: none;
}
.button {
  padding: 10px;
  border: none;
  width: 200px;
  color: white;
  border-radius: 10px;
  cursor: pointer;
  margin: 10px;
  font-size: large;
}


.button.calcular{
   background: linear-gradient(slateblue,rgb(54, 32, 199));
   
}

.button.calcular:hover {
  background: linear-gradient(rgb(54, 32, 199), slateblue);
}

.button.limpar {
  background: linear-gradient(crimson, darkred);
}

.button.limpar:hover {
  background: linear-gradient(darkred, crimson);
}

.resultado {
  margin-top: 20px;
  padding: 20px;
  background: rgba(255,255,255,0.1);
  border-radius: 10px;
  color: rgb(90, 226, 49);
  white-space: pre-line;
  text-align: left;
  font-size: larger;
}

@media (max-width: 1024px) {
  .boddy{
  display: flex;
  justify-content: center; 
  align-items: flex-start;
  margin: 0;
  }
  .box {
   width: 80%;
   margin: 100px auto 0 auto;
  }
  .nav-title {
    font-size: 18px;
  }
  .input {
    font-size: 18px;
    width: 80%;
  }
  .button {
    width: 80%;
  }
}

@media (max-width: 768px) {
   .boddy{
  display: flex;
  justify-content: center; 
  align-items: flex-start;
  margin: 0;
  }
  .nav {
    gap: 10px;
    padding: 15px;
  }
  .nav-logo {
    width: 120px;
    height: 35px;
  }
  .nav-title {
    font-size: 16px;
    text-align: center;
  }
  .box {
    width: 95%;
    align-items: center;
    padding: auto;
    margin-left: 0;
    margin-right: 0;
  }
  .input {
    font-size: 16px;
    width: 80%;
  }
  .button {
    width: 80%;
    font-size: 16px;
  }
  .resultado {
    font-size: 16px;
  }
}


@media (max-width: 480px) {
  .nav-title {
    font-size: 14px;
  }
  .box {
    padding: 15px;
  }
  .input {
    font-size: 14px;
    padding: 15px;
  }
  .button {
    font-size: 14px;
    padding: 8px;
  }
  .resultado {
    font-size: 14px;
  }
}